@import url(http://fonts.googleapis.com/css?family=Lato:400,700italic);
* { padding: 0; margin: 0; }
body { 
    background: #1abc9c; 
    font-family: 'Lato', sans-serif; 
    text-transform: uppercase; 
    letter-spacing: 1px;
}

A {
    color: red;
    text-decoration: none;
}

A:visited {
    color: #cecece;
    text-decoration: none;
}
   
A:active {
    color: #ffff00;
    text-decoration: none;
}
 
header {
    text-align: justify;
    height: 8em;
    padding: 2em 5%;
    background: #2c3e50;
    color: #fff;
}

header > div h1 {
    font-size: 3em;
    font-style: italic;
}

.user {
    margin: 2cm 2%;
    border-radius: 2px;
    width: 100%;
    border-collapse: collapse;
    max-width: 90%;
}
.user th, td{
     text-align: center;
         padding: 10px 20px;
         font-size: 20px;
    }
.user th {
        background-color: rebeccapurple;
        color: black;
    }
.user td {

        color: black;
    }
.user tr{

        background-color:honeydew ;
        color: black;
    }

    #info {
        text-align: center;
        background-color: #ffff00;
    }
    
    #avatar {
        width: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .infobox {
        background-color: #cecece;
        padding: 2em 5%;
        border: 2px solid #cdcdcd;
        font-size: large;
    }
    

.par {
    color: blue;
	direction: rtl;
	letter-spacing: 0.3cm;
	text-indent: 2cm;
	text-align: center;
	text-decoration: underline;
	text-transform: capitalize;
	white-space: pre;
	text-shadow: 3px 3px 5px red;
}

@media screen and (max-width: 720px){
     
    header {
        height: auto;
    }
     
    header > div,
    header > div h1,
    header nav {
        height: auto;
        width: auto;
        display: block;
        text-align: center;
    }
     
}